/* BACKGROUND GRADIENT */
.sponsors {
  background: linear-gradient(to bottom, #000 0%, #3f3f3f 50%, #010101 100%);
}

.highlight-link {
    color: #F52020;
    text-decoration: none;
}

.highlight-link:hover {
    color: #E65E5E;
    text-decoration: underline;
}