---
import "../styles/animation.css";
---

<div class="animation-overlay" id= "animation-overlay">
  <div class="logo-animation">
    <img src="/images/Screwdriver.png" class="tool screwdriver" />
    <img src="/images/Wrench.png" class="tool wrench" />

    <div class="text-container">
        <img src="/images/StonyBrook.png" class="text" />
        <img src="/images/Motorsports.png" class="text" />
    </div>
  </div>
</div>

